#fifth_detail_view {
    background: linear-gradient(-35deg, #8F9FAF, #8FAF9F, #AF8F9F, #6F7a85, #908070);
    background-size: 600% 600%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
    
    padding: 10px 0 10px 0;
}

#fifth_front_wrap {
    position: relative;
}

#fifth_back_wrap {
    position: relative;
}

#fifth_title {
    margin-left: 3%;
    width: 100vw;
    height: auto;
}

/* 모바일 iphone 5*/
@media screen
and (max-width: 320px) {
    #fifth_front_wrap {
        width: 45%;
        height: 45%;
    }

    #fifth_back_wrap {
        width: 45%;
        height: 45%;
    }
}

/* mobile iphone 6 */
@media screen
and (min-width: 321px)
and (max-width: 375px) {
    #fifth_front_wrap {
        width: 45%;
        height: 45%;
    }

    #fifth_back_wrap {
        width: 45%;
        height: 45%;
    }
}

/* mobile iphone 6+ */
@media screen
and (min-width: 376px)
and (max-width: 414px) {
    #fifth_front_wrap {
        width: 45%;
        height: 45%;
    }

    #fifth_back_wrap {
        width: 45%;
        height: 45%;
    }
}

/* pads */
@media screen
and (min-width: 415px)
and (max-width: 767px) {
    #fifth_front_wrap {
        width: 30%;
        height: 30%;
    }

    #fifth_back_wrap {
        width: 30%;
        height: 30%;
    }
}

/* iPad mini to Pro */
@media screen
and (min-width: 768px)
and (max-width: 1024px) {
    #fifth_front_wrap {
        width: 30%;
        height: 30%;
    }

    #fifth_back_wrap {
        width: 30%;
        height: 30%;
    }
}

@media screen and (max-width: 1024px) {
    #fifth_front {
        width: 100%;
        height: auto;
    }

    #fifth_back {
        width: 100%;
        height: auto;
    }
}


/* desktops */
@media screen
and (min-width: 1025px) {
    #fifth_front {
        width: 70%;
        height: auto;
    }

    #fifth_back {
        width: 70%;
        height: auto;
    }
}