@charset "UTF-8";

/* Mobile 모바일 */
@media screen and (max-width: 768px) {
    #header-container > .cell > a > img {
        max-width: 100%;
        max-height: 100%;
    }
    
    #header-container > .cell > img {
        max-width: 100%;
        max-height: 100%;
    }
    
    #montblanc_logo {
        margin-top: -1px;
        margin-left: 5px;
        height: 80%;
        width: inherit;
    }
    
    #timeforum_logo {
        margin-top: 2px;
        height: 60%;
        width: inherit;
    }
    
    #header-container > .right {
        position: absolute;
        right: 0px;
        margin-top: 5px;
    }
}

/* iPad 이상 */
@media screen and (min-width: 769px) {
    #header-container > .cell > a > img {
        max-width: 100%;
        max-height: 100%;
    }
    
    #header-container > .cell > img {
        max-width: 100%;
        max-height: 100%;
    }
    
    #montblanc_logo {
        margin-left: 10px;
        margin-top: -4px;
    }
    #timeforum_logo {
        margin-top: 2px;
        height: 60%;
        width: inherit;
    }
    #header-container > .right {
        position: absolute;
        right: 0px;
        margin-top: 5px;
    }
}

#header-container {
    z-index: 499;
    position: fixed;
    width: 100%;
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: baseline;
    
    /* animation */
    -webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}

#header-container.active {
    background-color: rgba(35, 40, 38, 0.9);
}

#header-container > .cell {
    display: flex;
    height: inherit;
    align-self: flex-end;
}
