@charset: "UTF-8";

#third_mountain_logo {
    display: none;
}

#third_title {
    display: none;
}

#particles-js, #particles-js canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0, 0.4);
    z-index: 10;
}

#third_1858column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    
    width: 100vw;
    height: auto;
}

#third_text_wrap {
    position: absolute;
    z-index: 15;
    line-height: 1.6em;
    padding: 10px;
    text-align: justify;
}

#third_text {
    padding: 10px;
}

#third_background_image {
    margin-bottom: -3px;
}

#third_background_image > img {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: auto;
}

/* 모바일 iphone 5*/
@media screen
and (max-width: 320px) {
    #third_background_image > img {
        position: relative;
        z-index: 1;
        width: auto;
        height: 100vh;
    }
}

/* mobile iphone 6 */
@media screen
and (min-width: 321px)
and (max-width: 375px) {
    #third_background_image > img {
        position: relative;
        z-index: 1;
        width: auto;
        height: 100vh;
    }
}

/* mobile iphone 6+ */
@media screen
and (min-width: 376px)
and (max-width: 414px) {
    #third_background_image > img {
        position: relative;
        z-index: 1;
        width: auto;
        height: 100vh;
    }
}

/* pads */
@media screen
and (min-width: 415px)
and (max-width: 767px) {
    #third_background_image > img {
        position: relative;
        z-index: 1;
        width: auto;
        height: 100vh;
    }
}

/* iPad mini to Pro */
@media screen
and (min-width: 768px)
and (max-width: 1024px) {
    #third_text_wrap {
        font-size: 1.1em;
        left: 0px;
        top: 5%;
    }
}

/* desktops */
@media screen
and (min-width: 1025px) {
    #third_text_wrap {
        font-size: 1.3em;
        left: 0px;
        top: 15%;
    }
}