@charset "UTF-8";

#content6 {
    position: relative;
    background: black; /* For browsers that do not support gradients */
}

#c6-carousel {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    white-space:nowrap;

    /* mobile acceleration */
    -webkit-overflow-scrolling: touch;
}

#c6-carousel .slide {
    display: inline-block;
}

/* 모바일 */
@media screen and (max-width: 767px) {
    #c6-carousel .slide img {
        width: 100%;
        height: auto;
    }
}

/* iPad pro */
@media screen
and (min-width: 768px)
and (max-width: 1024px) {
    #c6-carousel .slide img {
        width: 100%;
        height: auto;
    }
}

/* 데스크탑 */
@media screen and (min-width: 1025px) {
    #c6-carousel .slide img {
        width: 70%;
        height: auto;
    }
}