@charset "UTF-8";

#content1 {
    position: relative;
    overflow: hidden;
}

#c1-background {
    margin-bottom: -5px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}

.c1-button {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20;
    min-width: 8%;
    min-height: 8%;

    background-image: linear-gradient(270deg, rgba(150, 0, 14, 0.9), rgba(50, 20, 14, 0.9));
    border-radius: 10px;

    /* shadow */
    box-shadow: 3px 3px 5px rgba(40,40,40,0.8);

    /* font */
    text-align: center;
    /*color: rgb(240, 230, 230);*/
    color: white;
    font-size: 2em;
    font-family: DidotRegular;
}

/* 버튼 개별 배치 */

#c1b1 {
    position: absolute;
    left: 64%;
    top: 25%;
}

#c1b2 {
    position: absolute;
    right: 43%;
    bottom: 52%;
}
#c1b3 {
    position: absolute;
    left: 65%;
    bottom: 37%;
}
#c1b4 {
    position: absolute;
    right: 41%;
    bottom: 29%;
}

#c1-bottom {
    color: white;
    background-color: rgba(0,0,0,0.4);
    text-align: justify;
    width: 90%;


    bottom: -1px;
    padding: 3% 5% 3% 5%;
    position: absolute;
    /* scroll contents */
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 50;
}

/* 모바일 */
@media screen
and (max-width: 414px)
{
    .c1-button {
        padding: 3px;
        font-size: 0.7em;
        font-weight: bold;
    }
    #c1-bottom {
        font-size: 0.7em;
        line-height: 130%;
        max-height: 23%;
    }
}

/* pads */
@media screen
and (min-width: 415px)
and (max-width: 768px)
{
    .c1-button {
        padding: 3px;
        font-size: 0.7em;
        font-weight: bold;
    }
    #c1-bottom {
        font-size: 1.2em;
        line-height: 130%;
        max-height: 23%;
    }
}

/* 데스크탑 */
@media screen and (min-width: 769px) {
    #content1 {
        margin-bottom: -10px;
    }
    .c1-button {
        /* 버튼 내부 꾸미기 */
        padding: 10px;
        font-size: 1em;
    }
    #c1-bottom {
        font-size: 1.2em;
        /*height: 15%;*/
    }
}
