@charset "UTF-8";

#content0 {
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    margin-bottom: -1px;
}

#video-wrapper {
    margin: -10px 0 0 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    top: 0;
    left: auto;
    z-index: 50;
}

#video-wrapper video {
    z-index: -100;
    width: 100%;
    height: auto;

    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 1s opacity;
    transform: translate(-50%, -50%);
}

#c0-bottom {
    color: white;
    background-color: rgba(0,0,0,0.4);
    text-align: justify;

    bottom: 0;
    padding: 3% 5% 3% 5%;
    position: absolute;
    /* scroll contents */
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 50;
}

#c0-button-1 {
    float: right;
}

#c0-button-1 .button {
    padding: 4%;
    min-width: 110px;
    height: auto;
    background: transparent;
    border: 2px solid white;
    color: white;
    text-align: center;
    margin-top: 5%;
}

#content0 .button:hover {
    border: 2px solid #ad1500;
    color: #ad1500;
}

/* 모바일 iphone 5*/
@media screen
and (max-width: 320px) {
    #c0-bottom {
        font-size: 0.7em;
        line-height: 140%;
        height: 63%;
    }
}

/* mobile iphone 6 */
@media screen
and (min-width: 321px)
and (max-width: 375px) {
    #c0-bottom {
        font-size: 0.7em;
        line-height: 140%;
        /*height: 46%;*/
    }
}

/* mobile iphone 6+ */
@media screen
and (min-width: 376px)
and (max-width: 414px) {
    #c0-bottom {
        font-size: 0.8em;
        line-height: 130%;
        /*height: 45%;*/
    }
}

/* pads */
@media screen
and (min-width: 415px)
and (max-width: 767px) {
    #c0-bottom {
        font-size: 0.9em;
        line-height: 140%;
        /*height: 30%;*/
    }
}

/* 데스크탑 */
@media screen and (min-width: 768px) {
    #c0-bottom {
        font-size: 1.2em;
        /*height: 25%;*/
    }
}