@charset "UTF-8";

#content3 {
    position: relative;
    overflow: hidden;
    margin-bottom: -5px;
}

#c3-background {
    width: 100%;
    position: absolute;
    height: auto;
    z-index: -10;
}

#c3-background-dummy {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -10;
}

#c3-textbox {
    position: absolute;
    text-align: center;
    color: #ad1500;
    justify-content: center;
    z-index: 10;
    text-shadow: 1px 1px ivory;
}

.c3-slide {
    z-index: -2;
}

#c3-slide1 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 160%;
}
#c3-slide2 {
    position: absolute;
    width: 100%;
    height: auto;
    right: 400%;
    bottom: 8%;
}
#c3-slide3 {
    position: absolute;
    width: 100%;
    height: auto;
    right: 400%;
    bottom: 7%;
}
#c3-slide4 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: -100%;
    z-index: -4;
}

/* mobile iPhone */
@media screen
and (max-width: 414px) {
    .quote {
        width: 10px;
        height: auto;
    }
    #c3-textbox {
        left: 5%;
        /* size of textbox */
        top: 2%;
        width: 60%;
        min-width: 180px;
        line-height: 100%;
        font-size: 0.8em;
    }
    #c3-textbox p {
        margin: 0;
        font-size: 0.8em;
    }
}

/* 모바일 iPad */
@media screen
and (min-width: 415px)
and (max-width: 767px)
{
    .quote {
        width: 20px;
        height: auto;
    }
    #c3-textbox {
        left: 3%;
        /* size of textbox */
        top: 2%;
        width: 40%;
        min-width: 180px;
    }
    #c3-textbox p {
        margin: 0;
        font-size: 0.8em;
    }
}

/* 데스크탑 */
@media screen
and (min-width: 768px)
and (max-width: 1024px)
{
    .quote {
        width: 40px;
        height: auto;
    }
    #c3-textbox {
        left: 3%;
        line-height: 160%;
        font-size: 0.9em;
        /* size of textbox */
        top: 3%;
        width: 55%;
        max-width: 500px;
    }

    #c3-textbox p {
        font-size: 1.2em;
    }
}

/* 더 클때 */
@media screen
and (min-width: 1025px)
and (max-width: 1440px) {
    .quote {
        width: 40px;
        height: auto;
    }
    #c3-textbox {
        left: 11%;
        line-height: 150%;
        font-size: 1.2em;
        top: 4%;
        width: 40%;
        max-width: 500px;
        z-index: 100;
    }
}

/* desktop huge */
@media screen
and (min-width: 1441px) {
    .quote {
        width: 40px;
        height: auto;
    }
    #c3-textbox {
        left: 11%;
        line-height: 150%;
        font-size: 1.8em;
        top: 13%;
        width: 40%;
        max-width: 700px;
        z-index: 100;
    }
}