@charset "UTF-8";

/* toggle basic settings */
.toggle-wrapper {
    min-width: 250px;

    position: fixed;
    z-index: 1000;
}

.trigger {
    z-index: 2000;
    /* button border 제거 */
    text-align: right;
    background: none;
    border: none;
    outline: none;
    font-size: 1.0em;
}

/* X button */
.toggle-wrapper a {
    color: white;
}

.toggle-head {
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    padding: 3%;
    color: #a30001;
    font-weight: bolder;
    display: flex;
    align-items:center;
    justify-content: space-between;
    vertical-align: middle;
}

.toggle-body {
    background-color: rgba(20, 20, 20, 0.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    color: ivory;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    line-height: 140%;
    overflow: auto;
    max-height: 80%;
}

.toggle-info-wrapper {
    width: 100%;
    height: auto;
    /*display: flex;*/
    /*justify-content: center;*/
}

.toggle-wrapper .image {
    width: 50%;
    height: auto;
    float: left;
    padding-right: 3%;
    padding-left: 3%;
}

.toggle-wrapper .image img {
    width: 100%;
    height: auto;
}

.toggle-body .text {
    width: 100%;
    height: auto;
    padding-bottom: 3%;
    line-height: 160%;
    text-align: justify;
}

.toggle-body .button {
    min-width: 120px;
    width: 100%;
    margin: 4%;
    padding: 2%;
    border: 1px solid ivory;
    align-content: center;
    text-align: center;
}

.toggle-body .button:hover {
    color: #ad1500;
    border: 1px solid #ad1500;
}

/* specific settings */
#c0-toggle-1 {
    display: none;
    z-index: 500;
}

#c2-toggle-1 {
    display: none;
    z-index: 500;
}

#c2-toggle-2 {
    display: none;
    z-index: 500;
}

#c2-toggle-3 {
    display: none;
    z-index: 500;
}

#c2-toggle-4 {
    display: none;
    z-index: 500;
}

#c4-toggle-1 {
    display: none;
    z-index: 500;
}

#c5-toggle-1 {
    display: none;
    z-index: 500;
}

#c6-toggle-1 {
    display: none;
    z-index: 500;
}

/* 모바일 */
@media screen and (max-width: 767px) {
    .toggle-wrapper {
        width: 94%;
        height: 100%;
        left: 3%;
        top: 2%;
    }

    .toggle-body {
        padding: 6%;
    }

    .toggle-body .text {
        font-size: 0.8em;
    }
    .toggle-body .button {
        font-size: 0.8em;
    }
}

/* 데스크탑 */
@media screen
and (min-width: 768px)
and (max-width: 1024px)
{
    .toggle-wrapper {
        width: 80%;
        height: 70%;
        left: 10%;
        top: 15%;
    }

    .toggle-body {
        padding: 5%;
    }

    .toggle-body .button {
        font-size: 0.8em;
    }
}

/* 더 클때 */
@media screen
and (min-width: 1025px) {
    .toggle-wrapper {
        width: 50%;
        height: 70%;
        left: 25%;
        top: 15%;
    }
    .toggle-body {
        padding: 3%;
    }
    .toggle-wrapper .image {
        width: 30%;
    }
    .toggle-body .button {
        font-size: 1em;
    }
}